.sidebar {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px 45px 0px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
    z-index: 10;
    transition: transform 0.3s ease;
    max-height: calc(100vh - 100px);
    overflow: hidden;
    overflow-y: auto;

    .sidebar-container {
        margin: 0;
        padding: 0;
        width: calc(100% - 25px);
        height: 100%;
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    .category-header:not(:first-of-type){
        margin-top: 30px;
    }

    .toggle-button {
        position: absolute;
        padding: 3px;
        right: 5px;
        top: 5px;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
    
    &.hidden {
        transform: translateX(-235px);
        background-color: rgba(255, 255, 255, 0);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0); 
        .toggle-button {  
            background-color: rgba(255, 255, 255, 0.8);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
        }

        .sidebar-container {
            opacity: 0;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    input[type="checkbox"] {
        margin-right: 10px;
    }

    ::ng-deep .mat-expansion-panel {
        box-shadow: none;
        background-color: transparent;
    }

    ::ng-deep .mat-expansion-panel-header {
        background-color: transparent;
        padding: 0;
        padding-right: 10px;
    }

    ::ng-deep .mat-expansion-panel-header:hover {
        background-color: transparent !important;
      }
}